.hero-section{
    background-image: url(../assets/images/architect.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#br{
    padding: 7px 17px;
    background-color: rgba(0, 0, 0, 0.60);

}
#archi-text{
    letter-spacing: 2px;
}

.card{
    margin-bottom: 20px;
}

#About-section img{
    filter: grayscale(60%);
}